/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.container {
    padding-top: 40px;
    padding-bottom: 40px;
}

/* Estilos para las tarjetas (cards) */
.card {
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #fff;
    border-radius: 10px;
}

.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-title {
    font-size: 20px;
    color: #333;
    font-weight: bold;
}

.card-text {
    font-size: 16px;
    color: #777;
}

.card-body {
    padding: 15px;
}

.card-body a.btn {
    margin-top: 10px;
}

/* Estilo para el botón de corazón */
.heart-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 2px solid #ff5050; /* Borde rojo */
    color: #ff5050; /* Color del ícono del corazón */
    background-color: #ffffff; /* Color de fondo del botón */
    text-align: center;
    line-height: 35px; /* Centrar verticalmente el ícono del corazón */
    border-radius: 50%; /* Hacer que el botón sea circular */
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease; /* Transición suave de los colores */
}

/* Estilo para el botón de corazón cuando se hace clic en él ('liked') */
.heart-icon.liked i { /* Cambio: se agrega 'i' para seleccionar el ícono dentro del botón */
    color: #ffffff; /* Color del ícono del corazón blanco */
    background-color: #ff5050; /* Color de fondo del ícono rojo */
    border-radius: 50%; /* Hacer que el ícono sea circular */
    padding: 10px; /* Espacio alrededor del ícono */
}



/* Estilos para los botones de paginación */
.pagination {
    margin-top: 20px;
}

.pagination .page-item {
    cursor: pointer;
}

.pagination .page-link {
    color: #333;
}

.pagination .page-item.active .page-link {
    background-color: #007bff;
    border-color: #007bff;
}

/* Estilos para el formulario de búsqueda */
.form-group label {
    font-size: 20px;
    color: #007bff;
}

.form-control {
    width: 300px;
}

/* Estilos para el botón de búsqueda */
.btn-info {
    background-color: #007bff;
    border-color: #007bff;
    font-weight: bold;
}

.btn-info:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

/* Estilos para el botón "Limpiar" */
.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
    font-weight: bold;
}

.btn-secondary:hover {
    background-color: #5a6268;
    border-color: #545b62;
}
