body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #f7f7f7;
}

.container {
    max-width: 600px;
    margin: 5% auto;
    padding: 2rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1, h3 {
    color: #333;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

h3 {
    font-size: 1.5rem;
    font-weight: normal;
    margin-bottom: 1rem;
}

.form-group {
    margin-bottom: 1.5rem;
}

.form-group label {
    font-weight: bold;
    color: #555;
    display: block;
    margin-bottom: 0.5rem;
}

.form-group p {
    color: #888;
    font-size: 1rem;
    margin: 0.5rem 0;
}

/* Custom Range Styles */
.form-group input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    background-color: #ddd;
    border-radius: 5px;
    outline: none;
    margin-top: 0.5rem;
}

.form-group input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #007BFF;
    cursor: pointer;
}

.form-group input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #007BFF;
    cursor: pointer;
}

/* Set default value to 1 for the range inputs */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #007BFF;
    cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #007BFF;
    cursor: pointer;
}

.form-group output {
    font-weight: bold;
    margin-left: 1rem;
    color: #333;
}

button[type="submit"] {
    width: 100%;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    background: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background 0.2s ease;
    cursor: pointer;
}

button[type="submit"]:hover {
    background: #45a049;
}
.rating {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
}

.star {
    font-size: 2rem;
    cursor: pointer;
}

.star:hover,
.star.active {
    color: #FFD700; /* Golden color for filled star */
}

 .rating {
     display: inline-block;
 }

.rating input {
    display: none;
}

.rating label {
    float: right;
    cursor: pointer;
    color: #ccc;
    transition: color 0.3s;
}

.rating label:before {
    content: '\2605';
    font-size: 30px;
}

.rating input:checked ~ label,
.rating label:hover,
.rating label:hover ~ label {
    color: #6f00ff;
    transition: color 0.3s;
}
