
.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar .navbar-brand,
.navbar .navbar-collapse {
    flex: 1;
    text-align: center;
}

.navbar .navbar-collapse {
    display: flex;
    justify-content: center;
}
