<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Cambiar Contraseña</title>
  <link rel="icon" type="image/png" th:href="@{/icon/contrasena.png}" />

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="static/css/pass.css" th:href="@{/css/pass.css}">

  <!-- SweetAlert2 -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</head>
<body>
<div class="modal-dialog text-center">
  <div class="col-sm-8 main-section">
    <div class="modal-content">
      <div class="col-12 user-img">
        <img src="static/img/user.png" th:src="@{/img/user.png}"/>
      </div>
      <!-- ... Contenido anterior del formulario ... -->
      <form class="col-12" method="post" th:action="@{/usuarios/cambiar_contraseña}" onsubmit="return validatePassword()">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            <input class="form-control" name="nombreUsuario" placeholder="Nombre de usuario" type="text" required/>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-lock"></i></span>
            </div>
            <input class="form-control" name="nuevaContraseña" id="nuevaContraseña" placeholder="Nueva contraseña" type="password" required/>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-lock"></i></span>
            </div>
            <input class="form-control" name="confirmarContraseña" id="confirmarContraseña" placeholder="Confirmar contraseña" type="password" required/>
          </div>
        </div>
        <!-- ... Contenido del formulario ... -->
        <button class="btn btn-primary btn-block" type="submit">
          <i class="fas fa-check-circle"></i> Cambiar contraseña
        </button>
        <!-- Botón Cancelar con ícono de Font Awesome -->
        <a href="/" class="btn btn-danger btn-block" role="button">
          <i class="fas fa-times"></i> Cancelar
        </a>
      </form>

      <!-- ... Contenido posterior del formulario ... -->
    </div>
  </div>
</div>

<!-- Script para validar las contraseñas -->
<script>
  function validatePassword() {
    var newPassword = document.getElementById('nuevaContraseña').value;
    var confirmPassword = document.getElementById('confirmarContraseña').value;

    if (newPassword !== confirmPassword) {
      Swal.fire({
        title: 'Las contraseñas no son iguales',
        text: 'Por favor, inténtalo de nuevo.',
        icon: 'error',
        confirmButtonText: 'Aceptar',
        timer: 6000,

      });
      return false;
    }

    Swal.fire({
      title: 'Contraseña guardada con éxito',
      text: '',
      icon: 'success',
      confirmButtonText: 'Aceptar',
      timer: 6000,

    });
    return true;
  }
</script>
<!-- Optional scripts -->
</body>
</html>
