<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" type="text/css" href="static/css/rank.css" th:href="@{/css/rank.css}">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="/menu">Ranking</a>
  <div class="navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="btn btn-secondary action-btn" href="/menu"><i class="fas fa-arrow-left"></i> Volver</a>
        <!-- Agrega aquí más botones de acción si es necesario -->
      </li>
    </ul>
  </div>
</nav>
<br><br>
<div class="container">
  <div class="page-title">Castings Calificados</div>
  <div class="list-group">
    <div class="list-group-item list-group-item-action flex-column align-items-start card" th:each="casting : ${castings}">
      <div class="card-header">
        <h2 th:text="${casting.nomCasting}"></h2>
      </div>
      <div class="card-body">
        <p th:text="${casting.descripcion}"></p>
        <div class="card-info">
          <p><span>Costo:</span> <span th:text="${casting.costo}"></span></p>
          <div class="participant-info">
            <div>
              <i class="far fa-user"></i>
              <span>Participante:</span>
              <span th:text="${casting.participantes}"></span>
            </div>
            <div class="star-rating">
              <i class="fas fa-star"></i>
              <span>Calificación:</span>
              <span th:text="${casting.participantesCalificacion}"></span>
            </div>
          </div>
          <div class="participant-info">
            <div>
              <i class="far fa-user"></i>
              <span>Secundario:</span>
              <span th:text="${casting.secundario}"></span>
            </div>
            <div class="star-rating">
              <i class="fas fa-star"></i>
              <span>Calificación:</span>
              <span th:text="${casting.secundarioCalificacion}"></span>
            </div>
          </div>
          <div class="participant-info">
            <div>
              <i class="far fa-user"></i>
              <span>Extra 1:</span>
              <span th:text="${casting.extra1}"></span>
            </div>
            <div class="star-rating">
              <i class="fas fa-star"></i>
              <span>Calificación:</span>
              <span th:text="${casting.extra1Calificacion}"></span>
            </div>
          </div>
          <div class="participant-info">
            <div>
              <i class="far fa-user"></i>
              <span>Extra 2:</span>
              <span th:text="${casting.extra2}"></span>
            </div>
            <div class="star-rating">
              <i class="fas fa-star"></i>
              <span>Calificación:</span>
              <span th:text="${casting.extra2Calificacion}"></span>
            </div>
          </div>
          <div class="participant-info">
            <div>
              <i class="far fa-user"></i>
              <span>Extra 3:</span>
              <span th:text="${casting.extra3}"></span>
            </div>
            <div class="star-rating">
              <i class="fas fa-star"></i>
              <span>Calificación:</span>
              <span th:text="${casting.extra3Calificacion}"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="card-rating">
        <h5>Calificaciones Totales</h5>
        <div class="star-rating">
          <i class="fas fa-trophy"></i>
          <span>Total:</span>
          <span th:text="${casting.participantesCalificacion + casting.secundarioCalificacion + casting.extra1Calificacion + casting.extra2Calificacion + casting.extra3Calificacion}"></span>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js"></script>
</body>
</html>
