<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Calificar Participantes del Casting</title>
    <link rel="icon" type="image/png" th:href="@{/icon/sta.png}" />

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="static/css/calificar.css" th:href="@{/css/calificar.css}">

</head>
<body><nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="/menu">Calificar Participantes</a>
    <div class="navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <button class="btn btn-secondary" onclick="history.back()"><i class="fas fa-arrow-left"></i> Volver</button>
            </li>
        </ul>
    </div>
</nav>
<br>
<br>
<div class="container">
    <h1 class="my-3">Calificación de Participantes del Casting</h1>
    <h3 th:text="'Casting: ' + ${casting.nomCasting}"></h3>
    <p th:text="${casting.descripcion}"></p>
    <form th:action="@{/casting/calificar/{id}(id=${casting.id})}" method="post" th:object="${casting}">
        <div class="form-group">
            <label for="participantesCalificacion">Calificación de participantes:</label>
            <p th:text="${casting.participantes}"></p>
            <div class="rating">
                <input value="5" name="participantesCalificacion" id="participantes5" type="radio">
                <label for="participantes5"></label>
                <input value="4" name="participantesCalificacion" id="participantes4" type="radio">
                <label for="participantes4"></label>
                <input value="3" name="participantesCalificacion" id="participantes3" type="radio">
                <label for="participantes3"></label>
                <input value="2" name="participantesCalificacion" id="participantes2" type="radio">
                <label for="participantes2"></label>
                <input value="1" name="participantesCalificacion" id="participantes1" type="radio">
                <label for="participantes1"></label>
            </div>
        </div>
        <div class="form-group">
            <label for="secundarioCalificacion">Calificación de secundario:</label>
            <p th:text="${casting.secundario}"></p>
            <div class="rating">
                <input value="5" name="secundarioCalificacion" id="secundario5" type="radio">
                <label for="secundario5"></label>
                <input value="4" name="secundarioCalificacion" id="secundario4" type="radio">
                <label for="secundario4"></label>
                <input value="3" name="secundarioCalificacion" id="secundario3" type="radio">
                <label for="secundario3"></label>
                <input value="2" name="secundarioCalificacion" id="secundario2" type="radio">
                <label for="secundario2"></label>
                <input value="1" name="secundarioCalificacion" id="secundario1" type="radio">
                <label for="secundario1"></label>
            </div>
        </div>
        <div class="form-group">
            <label for="extra1Calificacion">Calificación de extra1:</label>
            <p th:text="${casting.extra1}"></p>
            <div class="rating">
                <input value="5" name="extra1Calificacion" id="extra15" type="radio">
                <label for="extra15"></label>
                <input value="4" name="extra1Calificacion" id="extra14" type="radio">
                <label for="extra14"></label>
                <input value="3" name="extra1Calificacion" id="extra13" type="radio">
                <label for="extra13"></label>
                <input value="2" name="extra1Calificacion" id="extra12" type="radio">
                <label for="extra12"></label>
                <input value="1" name="extra1Calificacion" id="extra11" type="radio">
                <label for="extra11"></label>
            </div>
        </div>
        <div class="form-group">
            <label for="extra2Calificacion">Calificación de extra2:</label>
            <p th:text="${casting.extra2}"></p>
            <div class="rating">
                <input value="5" name="extra2Calificacion" id="extra25" type="radio">
                <label for="extra25"></label>
                <input value="4" name="extra2Calificacion" id="extra24" type="radio">
                <label for="extra24"></label>
                <input value="3" name="extra2Calificacion" id="extra23" type="radio">
                <label for="extra23"></label>
                <input value="2" name="extra2Calificacion" id="extra22" type="radio">
                <label for="extra22"></label>
                <input value="1" name="extra2Calificacion" id="extra21" type="radio">
                <label for="extra21"></label>
            </div>
        </div>
        <div class="form-group">
            <label for="extra3Calificacion">Calificación de extra3:</label>
            <p th:text="${casting.extra3}"></p>
            <div class="rating">
                <input value="5" name="extra3Calificacion" id="extra35" type="radio">
                <label for="extra35"></label>
                <input value="4" name="extra3Calificacion" id="extra34" type="radio">
                <label for="extra34"></label>
                <input value="3" name="extra3Calificacion" id="extra33" type="radio">
                <label for="extra33"></label>
                <input value="2" name="extra3Calificacion" id="extra32" type="radio">
                <label for="extra32"></label>
                <input value="1" name="extra3Calificacion" id="extra31" type="radio">
                <label for="extra31"></label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Calificar</button>
    </form>
</div>
</body>
</html>
