<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Editar Casting</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" type="text/css" href="static/css/editCas.css" th:href="@{/css/editCas.css}">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="/menu">Editar Casting</a>
    <div class="navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <button class="btn btn-secondary" onclick="history.back()"><i class="fas fa-arrow-left"></i> Volver
                </button>
            </li>
        </ul>
    </div>
</nav>
<br>
<br>
<br>
<br>
<div class="container">
    <h1 class="my-3">Editar Casting</h1>
    <form id="castingForm" th:action="@{/casting/update}" th:object="${casting}" method="post">
        <input type="hidden" th:field="*{id}">
        <div class="form-group">
            <label for="fechaCreacion">Fecha de Creación</label>
            <input type="text" th:value="*{fechaCreacion}" class="form-control" id="fechaCreacion" readonly>
        </div>
        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" th:field="*{nomCasting}" class="form-control" id="nombre">
        </div>
        <div class="form-group">
            <label for="descripcion">Descripción</label>
            <textarea th:field="*{descripcion}" class="form-control" id="descripcion"></textarea>
        </div>

        <div class="form-group">
            <label for="costo">Costo</label>
            <input type="number" th:field="*{costo}" class="form-control" id="costo">
        </div>

        <div class="form-group">
            <label for="participantes">Participante Principal: </label>
            <input type="text" th:field="*{participantes}" class="form-control" id="participantes">
        </div>
        <div class="form-group">
            <label for="participantes">Participante Secundario: </label>
            <input type="text" th:field="*{secundario}" class="form-control" id="secundario">
        </div>
        <div class="form-group">
            <label for="participantes">Participantes Extra 1: </label>
            <input type="text" th:field="*{extra1}" class="form-control" id="extra1">
        </div>
        <div class="form-group">
            <label for="participantes">Participantes Extra 2: </label>
            <input type="text" th:field="*{extra2}" class="form-control" id="extra2">
        </div>
        <div class="form-group">
            <label for="participantes">Participantes Extra 3: </label>
            <input type="text" th:field="*{extra3}" class="form-control" id="extra3">
        </div>

        <button type="submit" class="btn btn-primary" onclick="event.preventDefault(); confirmSubmit();">Guardar
        </button>
    </form>
</div>


<script type="text/javascript" src="static/js/edit.js" th:src="@{/js/edit.js}"></script>

</body>
</html>
